@import "normalize";
  
.none {display: none;}

.wrapper {min-width: 270px;}

/* Advert Units style */
.adv-wrapper {
  width: 95%;
  margin: 0 auto;
  @media (min-width: 600px){
    width: 80%;
  }
}

.adv-unit {
  padding: 15px;
  margin: 10px 0;
  h6 {
    margin: 5px 0;
    font-size: 16px;
  }
  p {
    font-size: 12px;
    margin: 10px 0;
    text-align: center;
  }
    .remove-adv {
  background: none;
  float: right;
  border: none;
  line-height: 1;
  color: #000;
  transition: transform 0.5s;
  margin-top: 2px;
  outline: none;
  &:hover {
   color: red;
   transform: rotate(-90deg);
 }
  }
}

.remove-prod {
  background: none;
  float: right;
  border: none;
  line-height: 1;
  color: #000;
  opacity: 0;
  transition: transform 0.5s;
  margin-top: 2px;
  outline: none;
  &:hover {
   color: red;
   transform: rotate(-90deg);
 }
}

.advert-link {display: block;}

/* Forms styles */
.forms {
  margin: 0 auto;
  width: 260px;
}


/* Consider it to style the AvUnit buttons bar */
/* ul.prod_holder {
  & > li {
  padding: 5px 5px 5px 20px;
  height: 20px;
  transition: box-shadow 0.5s;
  &:hover {
   box-shadow: 10px 10px 5px 0px rgba(  144, 177, 153,0.75);
   border-left: 1px solid #90b199;
   border-top: 1px solid #90b199;
    .remove-prod {
      opacity: 1;
    }
  }
 }
} */

