@import "normalize";
  
.none {display: none;}

.wrapper {min-width: 270px;}

/* Advert Units style */
.adv-wrapper {
  width: 95%;
  margin: 0 auto;
  @media (min-width: 600px){
    width: 80%;
  }
}

.adv-unit {
  padding: 15px;
  margin: 10px 0;
  h6 {
    margin: 5px 0;
    font-size: 16px;
  }
  p {
    font-size: 12px;
    margin: 10px 0;
    text-align: center;
  }
    .remove-adv {
  background: none;
  float: right;
  border: none;
  line-height: 1;
  color: #000;
  transition: transform 0.5s;
  margin-top: 20px;
  outline: none;
  &:hover {
   color: red;
   transform: rotate(-90deg);
 }
  }
}

.pagination {
  width: 205px;
  margin: 20px auto;
}

/* Forms styles */
.forms {
  margin: 15px auto;
  width: 260px;
}

